.title {
    font-size: 2rem;
}

.title:last-of-type {
    padding-top: 20px;
}

.container {
    font-family: sans-serif ;
    width: 430px;
    position: relative;
    box-sizing: border-box;
    padding: 34px 36px;
    margin: 0 auto;
}

.list-homes {
    width: auto;
}


.button-save {
    width: auto;
    border-radius: 0 5px 5px 0;
    border-left: none;
}

 .input-form {
    border-radius: 5px 0 0 5px;
    background-image: none;
}

.form {
    display: flex;
}

.form-control.is-invalid {
    background-image: none;    
}