.container {
    font-family: sans-serif ;
    width: 430px;
    position: relative;
    box-sizing: border-box;
    padding: 34px 36px;
    margin: 0 auto;
}

.list-homes {
    height: 30px;
    outline-color: #29B0D9;
}

.list-homes:focus {
    box-shadow: 0 0 5px #29B0D9;
    outline-color: #29B0D9;
    background-color: white;
}

.button-save {
    border-radius: 0 5px 5px 0;
    border-width: 1px;
    background-color: white;
    outline-color: #29B0D9;
}

.button-save:focus {
    box-shadow: 0 0 5px #29B0D9;
}

.input-form {
    border-radius: 5px 0 0 5px;
    height: 30px;
    border-width: 1px;
    width: 70%;
    outline-color: #29B0D9;
}

.form {
    display: flex;
}

.validation {
    outline-color: red;
    border-color: red;
}